{% extends './base.html' %}

{% block title %}
    My DMRoller
{% endblock %}

{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    var url_roller = "{% url 'api_roll' %}";
    var url_room = "{% url 'api_room' %}";
</script>
<script src="{% static 'base/roller.js' %}"></script>


<body>       

    <div class="container">

        <div class="top subcontainer">            
            <center>The Dire-pigeon lunges and attacks</center>        
            <center>Defend your seed!</center>
        </div>

        <div class="top2 subcontainer">
            <div class="greeting">
                Welcome, {{ user.username }}! let's roll some dice!
            </div>
        
            <div class="logout">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        Logout
                    </button>
                </form>
            </div>
        </div>

        <div class="dice interact subcontainer">
            <form method="post" action="{% url 'api_roll' %}" id="roll_request_form">
                {% csrf_token %}
                <p>
                    <textarea id="roll_config" name="roll_config" rows="4" cols="20">Enter roll_config here!</textarea>
                </p>
                <input type="hidden" id="roll_request_room_code" name="room_code" value=""/>
                <button type="submit">Roll!</button>
            </form><br>

            <form id="die_form" class="interact">
                <label>Die Information:</label><br>
                <div id="die_list">
                    <label for="die_faces">Faces:</label>
                    <input type="number", id="die_faces", name="die_faces" min="2" class="intinput"><br>
                    <label>Advantage:</label><br>
                        <input type="radio" id="disadvantage" name="die_advantage" value="-1" class="radio">
                            <label for="disadvantage" class="listfont">Disadvantage</label>
                        <input type="radio" id="noadvantage" name="die_advantage" value="0" class="radio">
                            <label for="noadvantage" class="listfont">No Advantage</label>
                        <input type="radio" id="advantage" name="die_advantage" value="1" class="radio">
                            <label for="advantage" class="listfont">Advantage</label>
                </div><br>

                <div id="modifier_list">
                    <label for="modifiers">Modifier:</label>
                    <input type="number", id="modifiers", name="modifiers" class="intinput">
                </div><br>                
                <button type="button" onclick="checkoutdie()" class="listfont">Add to list!</button>
            </form>        
        </div>

        <div class="queue subcontainer">
            Dice to roll:
            <select name="Preset" id="loaded_preset" class="presetlist">
                <option value="">None</option>
                {% for r in rollconfigs %}
                    <option value="">{{ r.name }}</option>
                {% endfor %}
            </select>

            <div class="queuefield">
                <form id="die_queue">
                    <div><center>Your collection of dice:</center>
                        <ul id="die_queue_list"></ul></div>
                    <div><center>Additional modifiers:</center>
                        <ul id="modifier_queue_list"></ul></div>
                </form>                
            </div>

            <div class="queuenamefield">
                <input type="text" name="Preset Name" placeholder="Roll Name" maxlength="10" size="12">                
            </div>
            <button type="button" class="interact queuesave queuebuttons">Save</button>
            <button type="button" class="interact queueroll queuebuttons">Roll</button>
            <button type="button" class="interact queuereset queuebuttons" onclick="resetdie()">Reset</button>
        </div>

        <div class="results subcontainer">
            <div id="roll_result" data-last-timestamp="">
                Result:
            </div>
        </div>

        <div class="room subcontainer">
            <div class="roominfo">                
                Room code:<span id="roomcode">N/A</span>                
            </div>
            <div class="room roominfo roompop" id="roompop">
            </div>
            <div class="roomjoin">
                Join a new room:<br>

                <datalist id="joinedrooms">
                    {% for r in roomlist %}
                        <option value="{{ r.room.room_code }}">{{ r.room.room_code }}</option>
                    {% endfor %}
                </datalist>

                <form method="post" action="{% url 'api_room' %}" id="room_request_form">
                    {% csrf_token %}
                    <input type="search" list="joinedrooms" name="room_code" id="room_code" placeholder="room code" size="15">
                    <button type="submit" class="listfont interact">Join!</button>
                </form>

            </div>
        </div>
        <div class="thanks subcontainer">
            Thank you for using this program!<br>Pigeons and doves rule!
        </div>
    </div>
</body>

{% endblock %}